{% extends "index.html"%} {%block head%} {% load static %}
<link rel="stylesheet" href="{%static 'store.css'%}" />
<script type="text/javascript" src="{%static 'change_page_ajax.js'%}"></script>
<link href="//fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic" rel="stylesheet">
<title>Catalogue</title>
{%endblock%}{%block content%}
<div class="content">
  <div class="page_laout">
    <div class="leftContent">
      <div class="list_cat">
        <span class="llist_cat"
          ><a style="color: white;" href="/store/">Категории</a></span
        >
      </div>
      <div class="categories">
        <div class="cat_link">
          <a href="/store/games_with_balls">Игры с мячом</a>
        </div>
        <div class="cat_link"><a href="/store/bikes">Велосипеды</a></div>
        <div class="cat_link">
          <a href="/store/dumbbells_and_rods">Гантели и штанги</a>
        </div>
        <div class="cat_link">
          <a href="/store/fighting_art">Боевые искусства</a>
        </div>

        <div class="cat_link">
          <a href="/store/premium_attributes">Наградная атрибутика</a>
        </div>

        <div class="cat_link"><a href="/store/billiards">Бильярд</a></div>

        <div class="cat_link"><a href="/store/jumpers">Джамперы</a></div>

        <div class="cat_link">
          <a href="/store/desktop_games">Настольные игры</a>
        </div>

        <div class="cat_link"><a href="/store/baseball">Бейсбол</a></div>

        <div class="cat_link"><a href="/store/espandery">Эспандары</a></div>

        <div class="cat_link"><a href="/store/swimming">Плавание</a></div>

        <div class="cat_link"><a href="/store/darts">Дартс</a></div>
      </div>
    </div>
    <div class="rightContent">
      <div class="content1">
        {%for i in goods%}
        <div class="good2">
          <div class="good1">
            {%load static%}
            <div class="goood">
              <img id="img" src="/static/{{i.image}}" />
            </div>
            <div class="good1_">
              <div class="good_price">
                <p style="font-size: 26px; color: var(--price);">
                  {{i.price}}₽
                </p>
              </div>
              <div class="good_name">
                <a href="goods/{{i.id}}">
                  <p>{{i.name}}</p>
                </a>
              </div>
              <div class="good_buy button">
                <a class="button" href="goods/{{i.id}}">
                  <p class="button">Купить</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>

      
    </div>

  </div>
  <div class = 'change_page' >
      {%for i in pages%}
        {%if i == middleNumber%}
        <div class = 'num_page'><a href="/store/?page={{i}}"><p  style="color:white;">{{i}}<p></a></div>
        {% else %}
        <div class = 'num_page'><a href="/store/?page={{i}}"><p>{{i}}<p></a></div>
        {%endif%}
        
      {% endfor %}
  </div>
</div>

{%endblock%}
