{% extends "index.html"%} {%block head%} {% load static %}
<link rel="stylesheet" href="{%static 'buy.css' %}" />
<link
  href="//fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{%static 'bootstrap.css' %}" >
<link
  href="//fonts.googleapis.com/css?family=Montserrat:200,500,900&display=swap&subset=cyrillic"
  rel="stylesheet"
/>
<title>Good</title>
{%endblock%} {%block content%}
<div class="page_laout" >
  <div class="leftContent">
    <div class="list_cat">
      <span class="llist_cat"
        ><a style="color: white;" href="/store/">Категории</a></span
      >
    </div>
    <div class="categories" >
      <div class="cat_link">
        <a href="/store/games_with_balls">Игры с мячом</a>
      </div>

      <div class="cat_link"><a href="/store/bikes">Велосипеды</a></div>

      <div class="cat_link">
        <a href="/store/dumbbells_and_rods">Гантели и штанги</a>
      </div>
      <div class="cat_link">
        <a href="/store/fighting_art">Боевые искусства</a>
      </div>

      <div class="cat_link">
        <a href="/store/premium_attributes">Наградная атрибутика</a>
      </div>

      <div class="cat_link"><a href="/store/billiards">Бильярд</a></div>

      <div class="cat_link"><a href="/store/jumpers">Джамперы</a></div>

      <div class="cat_link">
        <a href="/store/desktop_games">Настольные игры</a>
      </div>

      <div class="cat_link"><a href="/store/baseball">Бейсбол</a></div>

      <div class="cat_link"><a href="/store/espandery">Эспандары</a></div>

      <div class="cat_link"><a href="/store/swimming">Плавание</a></div>

      <div class="cat_link"><a href="/store/darts">Дартс</a></div>
    </div>
  </div>
  <div class="rightContent" >
    <h1 class="good_title" >{{name}}</h1>
    <div class="good_block" >
      <div class="good">
        <div class="good_img">
          <img src="/static/{{image}}" alt="" />
        </div>
        <div class="good_status" >
          <div class = "price_and_info">

          <div class = "assessment">  
              <p>В наличие: {{count}}; Оценка:{{rating}}/5.</p>
          </div>

          <div class="good_price">
            <span> {{price}}₽</span>
          </div>

          
        </div>
          <div class="good_caption ">
            <h2 style = "margin-left: 1%;" >Описание</h2>
            <div>
              {%for i in description%}
              <p>{{i}}</p>
              {%endfor%}
            </div>
          </div>
          <div class="good_buy_">
            {%if count == 0%}
            <a class="link notlogon" href="/store">Товара нет в наличии</a>
            {%elif aunt %}
            <a class="link" href="/store/buy/{{id}}">Добавить в корзину</a>
            {% else %}
            <a class="link notlogon" href="/login">Войдите в аккаунт</a>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
    <!-- Начало отзывов -->
    <div class="reviows_block" >
      <div class="reviows">
        <h1>Отзывы</h1>
        {%if aunt %}
        <!-- Добавление отзыва -->
        <div class="commentAdd_block" >
          <div class="commentAdd">
            <form action="" method="POST">
              <textarea
                class="send_comment form-control link shadow"
                name="comment"
                placeholder="Comment"
                maxlength="1024"
                style = "height: 50%;"
                required
              ></textarea>
              <div style = "display:flex; margin-top: 1%;">
                <select value="" name="send_rating" class="form-control link shadow" style="width: 10%;">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
               </select>
              <input type="submit" value="Оставить отзыв" class = "form-control link shadow" style="margin-left: 1%;" />
              </div>
              
              {% csrf_token %}
            </form>
          </div>
        </div>
        {% else %} {%endif%}

        <!-- Конец блока отправки отзыка -->
        <!-- Начало отзывов -->
        {%for i in comment%}
        <div class="comment_block">
          <div class="comment">
            <div class="comment_left">
              {% load static %}
              <div class="user_img">
                <img src="{{i.ava }}" title="Аватар пользователя" />
              </div>

              <!-- имя пользователя -->
              <div class="user_name">{{i.name}}</div>

              <!-- статус -->
              {% if i.status == 'Administrator' %}
              <div class="user_status_admin">{{i.status}}</div>
              {% elif i.status == 'New Member' %}
              <div class="user_status_member">Новый пользователь</div>
              {% elif i.status == 'VIP' %}
              <div class="user_status_vip">{{i.status}}</div>
              {% endif %}
            </div>
            <div class="comment_right">
              <div class="rating">
                <p>Оценка покупателя: <span>{{i.rating}}</span></p>
              </div>
              <!-- комментарий -->
              <div class="user_comment">
                <p>{{i.comment}}</p>
              </div>
            </div>
          </div>
        </div>
        <hr />
        {% endfor %}
        <!-- Конец блока отзывов -->
      </div>
    </div>
  </div>
</div>

{%endblock%}
