.content {
  width: 60%;
  margin: 0 auto;
}
.contentBox {
  display: flex;
  margin: 45px 0;
}
/* controlPanel */
.controlPanel {
  background: white;
  width: 240px;
  height: 214px;
  margin-right: 40px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}
.item {
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
}
.controlPanel a {
  color: black;
  padding: 10px 0;
  font-size: 14px;
}
.controlPanel a:after {
  font-weight: 700;
  content: ">";
  line-height: 16px;
  float: right;
}
.listPanel {
  padding: 15px;
}
/* infoBlock */
.infoBlock {
  width: 69.3%;
  background: white;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}
.info {
  padding: 15px;
}
.mainBlock > div {
  line-height: 1.9;
}
.mainBlock-left {
  margin-right: 40px;
}
/* media */
@media only screen and (max-device-width: 480px) {
  .contentBox {
    flex-direction: column;
  }
  .infoBlock {
    min-width: 240px;
    margin-top: 30px;
  }
}

/* Info Order's */

.order-block {
  width: 100%;
}
.order,
.bottom-order {
  width: 100%;
  border: 1px solid #ddd;
}
.details {
  cursor: pointer;
  background: none;
  border: none;
  box-sizing: content-box;
  margin-top: 32px;
  color: black;
}
.details {
  content: ">";
}
.status {
  float: right;
}
.status p:last-child {
  float: right;
}
/* details */
.bottom-order {
  display: none;
  margin-top: 10px;
}
.order {
  margin-top: 15px;
}
.orderBox {
  padding: 5px 9px 5px 9px;
}
.b-b-order {
  padding: 5px 9px 5px 9px;
}
.b-b-order ul {
  display: flex;
  padding-left: 10px;
}
.b-b-order ul > p:first-child {
  width: 70%;
}
.b-b-order ul > p:nth-child(2) {
  min-width: 13%;
  max-width: 13%;
}
.order-price {
  float: right;
}

/* adminMenu */
.adminMenu {
  display: flex;
}
.a-block {
  padding: 15px;
}

.mainBlock div:nth-child(2) > form {
  float: right;
  margin-right: 40px;
}
.mainBlock div:nth-child(2) > form > button {
  padding: 5px;
  border: 1px solid #fff;
  background: #ddd;
}
.adminMenu button {
  width: 33.3%;
  height: 36px;
  background: none;
  border: 1px solid #ddd;
  color: white;
}
.adminMenu {
  width: 100%;
  background: #db5e5c;
}
.adminBlock {
  margin-top: 15px;
  width: 100%;
  border: 1px solid #ddd;
}
.status select {
  background: none;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.a-block form:first-child > input {
  background: none;
  border: 1px solid #ddd;
  height: 26px;
  margin-right: 10px;
}
.a-block form:first-child > button {
  background: #db5e5c;
  padding: 5px 15px;
  border: 1px solid #ddd;
  height: 29px;
  color: white;
}
