:root {
  --price: red;
}
html{
  cursor: url('/static/cursor/normal.cur'), default;
}
* {
	margin: 0;
	padding: 0;
}
body {
  background: #f6f6f6;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
  flex-direction: column;
  min-height: 100vh;
}
.box h1,h2,p{
  font-weight: 300;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
div,
h1,h2,h3,
a,
p,
form,
button {
  /* text-align: center; */
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-size: 24px; */
  /* text-align: center; */
  /* color: pink; */
}

a {
  color: white;
  text-decoration: none;
  /* cursor: url('/static/cursor/link.cur'), pointer; */
}
hr {
  border: 1px solid;
  border-color: #ddd;
}
ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}
.content {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
/* Header */
.header {
  display: table;
  /* flex: 1 0 auto; */
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}
.container {
  position: relative;
  max-width: 1330px;
  margin: 0 auto;
}
.bar {
  display: flex;
  align-items: center;
  padding: 5px 0;
  /* justify-content: space-between; */
}
.menu {
  /* width: 50%; */
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  /* margin: 0 auto; */
}
.menu div {
  /* justify-content: space-between; */
  /* margin: 0 15px; */
  font-size: 19px;
  padding: 3px;
}
.menu div a {
  /* font-size: 32px; */
  padding: 5px 0;
  color: #fff;
  transition: all 0.5s ease;
}
.menu div a:hover {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  text-shadow: 0 0 10px white;
}
.login {
  /* flex: 1; */
  /* justify-content: flex-end; */
  /* margin: 25px; */
  /* align-items: center; */
  /* font-size: 15px; */
  color: white;
  transition: all 0.2s ease-in-out;
}
.login:hover {
  font-size: 18px;
  text-shadow: 0 0 10px white;
}

@media only screen and (max-device-width: 768px) {
  .bar img{
    display: none;
  }
  .login{
    display: none;
  }
  .footer-block img{
    display: none;
  }
  .copyright{
    display: none;
  }
  .footer-list{
    margin: 0 auto;
  }
}
/*****************************************************/
/*--------------********FOOTER********-------------- */
/*****************************************************/

.footer {
  width: 100%;
  /* flex: 0 0 auto; */
  max-height: 90px;
  background: rgba(0, 0, 0, 0.8);
  /* position: absolute; */
  /* bottom: 0; */
  /* flex-grow: 1; */
}
.nav-footer{
  padding: 0 15px;
}
.footer-block {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 87.4375em;
}
.footer-list {
  display: flex;
  padding: 23.2333px;
}
.footer-list li {
  margin: 0 20px;
}
.footer-list li,
.footer-list li a {
  padding: 5px 0;
}
.copyright {
  align-items: center;
  margin-left: auto;
}
.copyright span {
  color: white;
}
/* Log */
.login button {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}
a { cursor: url(/static/cursor/link.cur), progress !important; }
html { cursor: url(/static/cursor/normal.cur), progress !important; }
select { cursor: url(/static/normal.cur), progress !important; }
label { cursor: url(/static/normal.cur), progress !important; }
input[type=text] { cursor: url(/static/cursor/text.cur), progress !important; }
input[type=password] { cursor: url(/static/cursor/text.cur), progress !important; }
input[type=button] { cursor: url(/static/cursor/link.cur), progress !important; }
input[type=submit] { cursor: url(/static/cursor/link.cur), progress !important; }
input[type=file] { cursor: url(/static/cursor/link.cur), progress !important; }
input[type=image] { cursor: url(/static/cursor/link.cur), progress !important; }
div[id=PageScrollTop] { cursor: url(/static/cursor/link.cur), progress !important; }