:root {
  --price: red;
}
html {
}

html {
  cursor: url(/static/cursor/normal.cur), default;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
  /* #f4f5fa */
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
  flex-direction: column;
  min-height: 100vh;
}
.box h1,
h2,
p {
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;

  position: relative;
  z-index: 1;
  /*display: inline-block;*/
  padding: 0 10px;
  opacity: 0.8;
  background: no-repeat;
  text-decoration: none;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-tap-highlight-color: transparent;
  outline-offset: -7px;

  /*font-weight: 300;*/
  /*font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,*/
  /*  "Helvetica Neue", Arial, sans-serif;*/
}
h1 {
  line-height: 2.1;
}
div,
h1,
h2,
h3,
a,
p,
form,
button {
  /* text-align: center; */
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-size: 24px; */
  /* text-align: center; */
  /* color: pink; */
}

a {
  color: white;
  text-decoration: none;
}
hr {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ddd;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ddd;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #ddd;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
}
ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}
.content {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
/* Header */
.header {
  /* flex: 1 0 auto; */
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  box-shadow: 12px 16px 40px rgba(63, 83, 104, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
}
.container {
  position: relative;
  max-width: 1330px;
  margin: 0 auto;
}
.bar {
  display: flex;
  align-items: center;
  text-align: center;
  height: 48px;
  max-height: 44px;
  /* justify-content: space-between; */
}
.menu {
  /* width: 50%; */
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  margin: 0 auto;
}

.menu div a {
  /* font-size: 32px; */
  color: #fff;
  transition: all 0.5s ease;
}
.menu div a:hover {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  text-shadow: 0 0 10px white;
}
.login {
  color: white;
  transition: all 0.2s ease-in-out;
}
.login:hover {
  font-size: 18px;
  text-shadow: 0 0 10px white;
}

@media only screen and (max-device-width: 768px) {
  .bar img {
    display: none;
  }
  .login {
    display: none;
  }
  .footer-block img {
    display: none;
  }
  .copyright {
    display: none;
  }
  .footer-list {
    margin: 0 auto;
  }
}
/*****************************************************/
/*--------------********FOOTER********-------------- */
/*****************************************************/

.footer {
  width: 100%;
  /* flex: 0 0 auto; */
  max-height: 90px;
  background: rgba(0, 0, 0, 0.8);
  /* position: absolute; */
  /* bottom: 0; */
  /* flex-grow: 1; */
}
.nav-footer {
  padding: 0 15px;
}
.footer-block {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 87.4375em;
}
.footer-list {
  display: flex;
}
.footer-list li {
  margin: 0 20px;
}
.footer-list li,
.footer-list li a {
  padding: 5px 0;
}
.copyright {
  align-items: center;
  margin-left: auto;
}
.copyright span {
  color: white;
}
/* Log */
.login button {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}
/*  */
.input {
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.button {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: pointer;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

/*  */
/*  */
/* Cursor's */
/*  */
/*  */
a {
  cursor: url(/static/cursor/link.cur), progress !important;
}
html {
  cursor: url(/static/cursor/normal.cur), progress !important;
}
select {
  cursor: url(/static/normal.cur), progress !important;
}
label {
  cursor: url(/static/normal.cur), progress !important;
}
input[type="text"] {
  cursor: url(/static/cursor/text.cur), progress !important;
}
input[type="password"] {
  cursor: url(/static/cursor/text.cur), progress !important;
}
input[type="button"] {
  cursor: url(/static/cursor/link.cur), progress !important;
}
input[type="submit"] {
  cursor: url(/static/cursor/link.cur), progress !important;
}
input[type="file"] {
  cursor: url(/static/cursor/link.cur), progress !important;
}
input[type="image"] {
  cursor: url(/static/cursor/link.cur), progress !important;
}
div[id="PageScrollTop"] {
  cursor: url(/static/cursor/link.cur), progress !important;
}

/*  */
/*  */
/*  */
/* Status */
/*  */
/*  */
/*  */
.user_status_admin {
  text-shadow: red 1px 1px 10px;
  color: red;
}
.user_status_member {
  text-shadow: blue 1px 1px 10px;
  color: blue;
}
.user_status_vip {
  text-shadow: orange 1px 1px 10px;
  color: orange;
}
.user_name,
.user_status_admin,
.user_status_vip,
.user_status_member {
  text-align: center;
}
.snowContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#snow {
  width: 100%;
  height: 100%;
  background-image: url(/static/images/snow/s1.png),
    url(/static/snow/images/s2.png), url(/static/snow/images/s3.png);
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 500px 1000px, 400px 300px, 300px 300px;
  }
}
