/******************************************************/
/*--------------********Content********-------------- */
/******************************************************/

.img {
  background-image: url(//cdn.sportshop.com/media/easybanner/Slidebanner-basketbal-home_1.jpg);
  list-style: none;
  position: relative;
  /*width: 1865px;*/
  height: 502px;
  background-size: cover;
  background-position: center center;
}
.content {
  max-width: 1340px;
  margin: 0 auto;
}
.content_main {
  margin: 0;
  top: 0;
}
.text {
  padding-bottom: 20px;
}
.text p,
.text h1 {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 100;
}
.text h1 {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.1;
  font-size: 4rem;
}
.text p {
  margin: 5px;
  font-size: 20px;
}
.text img {
  float: right;
  margin: 7px 0 7px 7px;
}
.text2 img {
  float: left;
}
.text3 img {
  float: right;
}
/* Новостные блоки */
.news_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.block {
  display: flex;
  flex-direction: column;
  max-width: 356px;
  margin: 10px 0;
}
.block img {
  max-width: 356px;
  max-height: 187px;
}
.block_title {
  font-weight: bolder;
}
.block_source_name {
  color: #fb2f77;
}
.block_content {
  padding: 10px;
  background: #ffffff;
  box-shadow: 0 16px 40px rgba(63, 83, 104, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}
.block_description {
  line-height: 2;
}
hr {
  border: 1px solid #ddd;
  margin: 10px;
}
