/* Задаем flex */
.content {
  padding: 30px;
  /* display: flex; */
}
.content a {
  color: black;
}
/* Задаем пространство */
.page_laout {
  display: flex;
  /* display: flex; */
  max-width: 1500px;
  margin: 0 auto;
}
/* Левое меню */
.leftContent {
  border: 1px solid grey;
  border-radius: 3px;
  min-width: 260px;
  height: 525px;
  margin-bottom: 20px;
  margin-right: 20px;
  background: white;
}
.leftContent a{
  color: black;
}
.list_cat {
  padding: 10px;
  background: grey;
}
.cat_link {
  border-bottom: 1px solid grey;
  padding: 10px;
}
.cat_link:last-child{
  border-bottom: 0;
}

.list_cat {
  text-align: center;
}
/* Товары */
.content1 {
  display: flex;
  flex-wrap: wrap;
}
.good1 {
  margin: 10px;
  margin-bottom: 26px;
  box-sizing: border-box;
}
.good1_ {
  text-align: center;
}
.good2 {
  background: #fff;
  max-width: 290px;
  margin: 0 15px 15px 0;
  box-shadow: 0 16px 40px rgba(63,83,104,.1),0 4px 8px rgba(0,0,0,.1);
border-radius: 4px;
}
.good2:hover{
  transition: all .5s ease;
  position: relative;
    opacity: 1;
    transform: scale(1.1);

}
.goood {
  height: 278px;
}

.goood img{
  max-height: 280px;
  max-width: 280px;
  transition: all .2s ease;    
}
.good_price {
  text-align: right;
  font-family: 'Roboto', sans-serif;
}
.good_name{
  margin-bottom: 7px;
}
.good_buy p {
    /* margin-top: 127px; */
    font-family: 'Montserrat', sans-serif;
    background: #DD5860;
    border: 1px solid #DD5860;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    transition: all .5s ease;
}
.good_buy p:hover{
    color: white;
}
.goood:hover img{
    transition: all .5s ease;
}
@media only screen and (max-device-width: 768px) {
  .page_laout{
    display: block;
  }
  .content1{
    display: block;
  }
}
.gift{
  animation: go-left-right 3s infinite alternate;
    /* применить анимацию "go-left-right" на элементе
       продолжительностью 3 секунды
       количество раз: бесконечно (infinite)
       менять направление анимации каждый раз (alternate)
    */

    position: relative;
    border: 2px solid green;
    width: 50px;
    height: 20px;
    background: rgb(218, 88, 109);
    color: white;
}
@keyframes go-left-right {        /* объявляем имя анимации: "go-left-right" */
  from { left: 0px; }             /* от: left: 0px */
  to { left: calc(100% - 50px); } /* до: left: 100%-50px */
}