<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
    {% load static %}
    <link rel="stylesheet" href="{%static 'main.css' %}" />
    <link
      href="//fonts.googleapis.com/css?family=Montserrat:200,500,900&display=swap&subset=cyrillic"
      rel="stylesheet"
    />
    {%block head%} {%endblock%}


    <!-- -----------------------PRELOADER----------------------------- -->
    <style type="text/css">
      .loaded_hiding .preloader {
        transition: 0.3s opacity;
        opacity: 0;
      }

      .loaded .preloader {
        display: none;
      }
      .preloader {
        background-color: white;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 999;

      } 
      .preloader img {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -23px;
          margin-left: -20px;
      }
    </style>
    <script>
  window.onload = function () {
    document.body.classList.add('loaded_hiding');
    window.setTimeout(function () {
      document.body.classList.add('loaded');
      document.body.classList.remove('loaded_hiding');
    }, 500);
  }
</script>
<!-- ------------------------------------------------------------------- -->
  </head>

  <body>


     <!-- -----------------------PRELOADER----------------------------- -->
    <div class="preloader" id = "preloader">
      {% load static %}
      <img src="{%static 'preloader2.gif'%}" width="5%" >
    </div>
    <!-- ------------------------------------------------------------------- -->

    <header class="header">
      <div class="container">
        <nav class="bar">
          <div class="menu">
            <div>
              <!--              <a href="/admin/">Админ-панель</a>-->
              <a href="/main/">Новости</a>
            </div>
            <div class="catalg">
              <a href="/store/">Каталог</a>
            </div>
            <div>
              <a href="/basket/"
                >Корзина <span style="color: red;">{{goodsInBasket}}</span></a
              >
            </div>
          </div>
          <div class="login">
            {%if aunt%}
            <button><a class="login" href="/login/logout">Выйти</a></button>
            <button><a class="login" href="/cabinet">Личный кабинет</a></button>
            {% else %}
            <button><a class="login" href="/login">Войти</a></button>
            <button>
              <a class="login" href="/registration">Регистрация</a>
            </button>
            {%endif%}
          </div>
          <div class="blockLog" style="display: none;">
            <a>Личный кабинет</a>
          </div>
        </nav>
      </div>
    </header>

    {%block content%} {%endblock%}

    <footer class="footer">
      <div class="nav-footer">
        <div class="footer-block">
          <img src="/static/images/logoSportShopSmall.svg"  alt="" />
          <div class="copyright">
            <span
              >© 2020
              <span
                itemprop="publisher"
                itemscope=""
                itemtype="//schema.org/Organization"
              >
                <span itemprop="name">Official Shop</span></span
              >
            </span>
          </div>
        </div>
      </div>
    </footer>
    <div class="snowContainer">
      <div id="snow"></div>
    </div>
  </body>
</html>
