{% extends "index.html"%}

{%block title%}Registration{%endblock%}

{%block head%}
{% load static %}
<link rel="stylesheet" href="{%static 'registration.css' %}">
<script type="text/javascript" src="{% static 'validate.js' %}">
</script>
{%endblock%}

{%block header%}
<a href="/login">Войти</a>
<a href="/registration">Регистрация</a>
{%endblock%}

{%block content%}
<div class="content">
  <div class="contentBox">
    <div class="contentBoxIn">
      <div class="boxs">
        <h2>Регистрация нового аккаунта</h2>
      </div>
      <hr>
      <div class='new_user boxs'>
        <form name="contact_form" action="" method="post" onsubmit="return validate_form_for_registration();">
          <p>Логин</p>
          <input type="text" name="username" id="username" class="form-control">
          <p>Пароль</p>
          <input type="password" name="password" id="password" class="form-control">
          <p>E-mail</p>
          <input type="text" name="email" id="email" class="form-control">
          <div class='btn'>
            <button type="submit" name="send">Зарегистрироваться</button>
          </div>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}