{% extends "index.html"%}



{%block head%}
{% load staticfiles %}
<link rel="stylesheet" href="{% static  '/MainStatic/css/style.css' %}">
{%endblock%}

{%block header%}
  {%if aunt%}
    <a href="/login/logout">Выйти</a>
  {% else %}
    <a href="/login">Войти</a>
    <a href="/registration">Регистрация</a>
  {%endif%}
{%endblock%}


{%block content%}


<div>
  <div id = "block_menu">
    <ul>
      <li><a href = "/goods/games_with_balls">Игры с мячом</a></li>

      <li><a href = "/goods/bikes">Велосипеды</a></li>

      <li><a href = "/goods/dumbbells_and_rods">Гантели и штанги</a></li>
      <li><a href = "/goods/fighting_art">Боевые искусства</a></li>

      <li><a href = "/goods/premium_attributes">Наградная атрибутика</a></li>

      <li><a href = "/goods/billiards">Бильярд</a></li>

      <li><a href = "/goods/jumpers">Джамперы</a></li>

      <li><a href = "/goods/desktop_games">Настольные игры</a></li>

      <li><a href = "/goods/baseball">Бейсбол</a></li>

      <li><a href = "/goods/espandery">Эспандары</a></li>

      <li><a href = "/goods/swimming">Плавание</a></li>

      <li><a href = "/goods/darts">Дартс</a></li>
    </ul>
  </div>

  <div id= "block_goods">
  {%block content_with_goods%}



  {%endblock%}
  </div>
</div>




{%endblock%}
