#block_menu{
  width:15%;
  background-color:rgba(0,0,0,.9);
  height:1000px;
  margin-left:10%;
  border:2px solid black;
  border-radius: 0px 0px 0px 10px;
}
#block_goods{
  width:65%;
  /*background-color:rgba(0,0,0,.9);*/
  border:2px solid black;               /* trash
  /* height:1000px; */
  margin-left:25%;
  margin-top:-1000px;
}
#block_menu{
  padding-top:10px;
  /* border:2px solid blue;             /* trash */

}
#block_menu li{
  margin-left: -20px;
  list-style-type: none;
  padding-top:10px;
  font-size:18px;
  width: 100%;
}
#block_menu a{
  color:white;
  text-decoration: none;
}
#block_menu a:hover{
  color:white;
  background-color:#191970;
  padding:5px 10px 5px 10px;
}
#table_of_goods {
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  color:white;
}
#table_of_goods td:hover{
  background-color:rgba(25,25,92,.9);
}
#table_of_goods td{
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  background-color:rgba(0, 0, 0, .9);
    
}
#table_of_goods img{
  width: 300px;
  height: 300px;
  padding:10px;
  transition: transform .2s;
}
#table_of_goods a{
  font-size: 30px;
}

#table_of_goods td:hover img{
  transform: scale(1.1);
}
