{% extends "index.html"%} {%block head%} {% load static %}
<link rel="stylesheet" href="{%static 'basket.css' %}">
<link href="//fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic" rel="stylesheet" />
<link href="//fonts.googleapis.com/css?family=Montserrat:200,500,900&display=swap&subset=cyrillic" rel="stylesheet" />

<title>Main</title>
{%endblock%} {%block content%}
<div class="page_laout">
    <div>
      <h2>Корзина</h2>
    </div>
    <div class="basket"><a>В корзине: {{count}}</a></div> 
    <form action="/basket/buy_all" method = "POST">
    <div class="conteiner">
      <div class="conteienr_list">
        <div class="list_basket">
    {%for i in goods%}
          <div class="list_item">
            <div class="list_item_in">
              <div class="item_img"><img src="{%static i.image %}" alt=""></div> <!-- Картинка товара-->
              <div class="item_block">
                <div class="item_name">{{i.count}}{{i.name}}</div>
                <div class="item_del"><button><a href = '/basket/delete/{{i.id}}'>Удалить</a></button></div> <!-- Кнопка для удаления товара -->
              </div>
              <div class="item_col">
                <div class="item_col1" style="display: flex;">


                  <div class="item_col_button item_col_button_min" onclick='minus("{{i.idForPlusAndMinus}}")'>-</div>

                 <!--  button не работают поставил div -->
                  <!--  button не работают поставил div -->
                   <!--  button не работают поставил div -->
                    <!--  button не работают поставил div -->
                     <!--  button не работают поставил div -->

          
                  <input id="{{i.idForPlusAndMinus}}" name="count-{{i.idForPlusAndMinus}}" class='item_col_input' type="text"
                    value='1' readonly>

                     <!--  button не работают поставил div -->
                      <!--  button не работают поставил div -->
                       <!--  button не работают поставил div -->
                        <!--  button не работают поставил div -->
                         <!--  button не работают поставил div -->



                    <div  class='item_col_button item_col_button_plus' onclick='plus("{{i.idForPlusAndMinus}}")'>+</div> <!-- Кол-во товара, value=1 -->
                </div>
              </div>
              <input type="hidden" name="good-{{i.idForPlusAndMinus}}" value="{{i.id}}">
              <div class="item_price"><span id='{{i.idForPlusAndMinus}}' class='i-p'>{{i.price}}</span></div> <!-- Цена товара -->
            </div>
          </div>
    {%endfor%}
  
        </div>
      </div>
      <div class='block_buy'>
        <div>
          <p id="result">Итого:0 ₽</p> <!-- Конечная цена товаров-->
        </div>
        <div>
          <input type="hidden" name="b" value="{{count}}">
          <input type="submit" name="buy" value ="Купить" class="block_buy_button">
        </div>
      </div>
      {% csrf_token %}
      </form>
    </div>
  </div>
<script src="{%static 'basket.js'%}"></script>
  {%endblock%}