{%extends "CabinetTemp/cabinet.html"%}
{%block content_in_cabinet%}

        <div class="infoBlock admin">
            <div class="info">
                <div class='blockName'>
                    <h2>Панель Администратора</h2>
                    <hr>
                </div>
                <div class='mainBlock'>
                    <div class='adminMenu'>
                       <a href="/cabinet/admin/info/">  Информация</a>
                         <a href="/cabinet/admin/orders/"> Заказы</a>
                         <a href="/cabinet/admin/management/"> Управление</a>
                    </div>
                    {%block adminblock%}
                    {%endblock%}
                    

                    

                </div>
            </div>
        </div>
   
{%endblock%}