{%extends "CabinetTemp/adminblock.html"%}
{%block adminblock%}

        <div class='a-i-block adminBlock'>
                        <div class='a-block'>
                            <div>
                                <h3>Статусы заказов</h3>
                            </div>
                            <p>Не оплачены: 215</p>
                            <p>Ожидают подтверждение: 1 000</p>
                            <p>Отправлены: 200</p>
                            <p>Завершены: 5 000 000</p>
                        </div>
                    </div>
   
{%endblock%}