{%extends "CabinetTemp/adminblock.html"%}
{%block adminblock%}

        <div class='a-o-block adminBlock'>
                        <div class="a-block">
                                <form action=""><input type="search"><button
                                        type="submit">Поиск</button></form>
                            <div>
                                <div class="order">
                                    <div class="orderBox">
                                        <p>Заказ №1</p>
                                        <form class='status'>
                                            <p>Состояние: 
                                                <select>
                                                    <option>Отменено</option>
                                                    <option>Подтверждение оплаты</option>
                                                    <option>Оплачено</option>
                                                    <option>Отправлено</option>
                                                </select></p>
                                            <p>Итого: 200.000 руб.</p>
                                            </form>
                                        <button class='details' onclick='detailBox()'>
                                            <p>Подробнее</p>
                                        </button>
                                    </div>
                                </div>
                                <div class="bottom-order">
                                    <div class="b-b-order">
                                        <p>Список товаров:</p>
                                        <li>
                                            <ul>
                                                <p>Мяч</p>
                                                <p>1шт.</p>
                                                <p class='order-price'>100,000 Р</p>
                                            </ul>
                                            <ul>
                                                <p>Велосипе</p>
                                                <p>2шт.</p>
                                                <p class='order-price'>500,000 Р</p>
                                            </ul>
                                            <ul>
                                                <p>Гантеля</p>
                                                <p>25шт.</p>
                                                <p class='order-price'>500,000 Р</p>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="order">
                                    <div class="orderBox">
                                        <p>Заказ №1</p>
                                        <form class='status'>
                                            <p>Состояние: 
                                                <select>
                                                    <option>Отменено</option>
                                                    <option>Подтверждение оплаты</option>
                                                    <option>Оплачено</option>
                                                    <option>Отправлено</option>
                                                </select></p>
                                            <p>Итого: 200.000 руб.</p>
                                        </form>
                                        <button class='details' onclick='detailBox()'>
                                            <p>Подробнее</p>
                                        </button>
                                    </div>
                                </div>
                                <div class="bottom-order">
                                    <div class="b-b-order">
                                        <p>Список товаров:</p>
                                        <li>
                                            <ul>
                                                <p>Мяч</p>
                                                <p>1шт.</p>
                                                <p class='order-price'>100,000 Р</p>
                                            </ul>
                                            <ul>
                                                <p>Велосипе</p>
                                                <p>2шт.</p>
                                                <p class='order-price'>500,000 Р</p>
                                            </ul>
                                            <ul>
                                                <p>Гантеля</p>
                                                <p>25шт.</p>
                                                <p class='order-price'>500,000 Р</p>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="order">
                                    <div class="orderBox">
                                        <p>Заказ №1</p>
                                        <form class='status'>
                                            <p>Состояние: <select>
                                                    <option>Отменено</option>
                                                    <option>Подтверждение оплаты</option>
                                                    <option>Оплачено</option>
                                                    <option>Отправлено</option>
                                                </select></p>
                                            <p>Итого: 200.000 руб.</p>
                                        </form>
                                        <button class='details' onclick='detailBox()'>
                                            <p>Подробнее</p>
                                        </button>
                                    </div>
                                </div>
                                <div class="bottom-order">
                                    <div class="b-b-order">
                                        <p>Список товаров:</p>
                                        <li>
                                            <ul>
                                                <p>Мяч</p>
                                                <p>1шт.</p>
                                                <p class='order-price'>100,000 Р</p>
                                            </ul>
                                            <ul>
                                                <p>Велосипе</p>
                                                <p>2шт.</p>
                                                <p class='order-price'>500,000 Р</p>
                                            </ul>
                                            <ul>
                                                <p>Гантеля</p>
                                                <p>25шт.</p>
                                                <p class='order-price'>500,000 Р</p>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
        
{%endblock%}