{%extends "index.html"%}
{%block head%}
{% load static %}
<link rel="stylesheet" href="{%static 'cabinet.css'%}">
<title>Cabinet</title>
{%endblock%}
{%block content%}

<div class="content">
    <div class="contentBox">
        <div class="controlPanel">
            <div class='listPanel'><span>Мой аккаунт</span>
                <hr>
            </div>

            <div class="item">
                <a href="/cabinet/info/"><button style="cursor: pointer;background: none; border: none;">Информация об аккаунте</button></a>
                <a href="/cabinet/orders/"><button style="cursor: pointer;background: none; border: none;">Информация о заказах</button></a>
                {%if admin%}
                <a href="/cabinet/admin/"><button style="cursor: pointer;background: none; border: none;">Панель администратора</button></a>
                {%endif %}
                <!-- <a><button style="cursor: pointer;background: none; border: none;">Настройки</button></a> -->
            </div>
        </div>
    
        {% block content_in_cabinet %}
        {% endblock %}
    </div>
</div>
    {%endblock%}