{%extends "CabinetTemp/cabinet.html"%}
{%block content_in_cabinet%}


        <div class="infoBlock ord">
            <div class="info">
                <div class='blockName'>
                    <h2>Информация о заказах</h2>
                    <hr>
                </div>
                <div class='mainBlock'>
                    <div class="order-block">
                        <div class="order">
                            <div class="orderBox">
                                <p>Заказ №1</p>
                                <div class='status'>
                                    <p>Состояние: Подтверждение оплаты</p>
                                    <p>Итого: 200.000 руб.</p>
                                </div>
                                <button class='details' onclick='detailBox()'>
                                    <p>Подробнее</p>
                                </button>
                            </div>
                        </div>
                        <div class="bottom-order">
                            <div class="b-b-order">
                                <p>Список товаров:</p>
                                <li>
                                    <ul>
                                        <p>Мяч</p>
                                        <p>1шт.</p>
                                        <p class='order-price'>100,000 Р</p>
                                    </ul>
                                    <ul>
                                        <p>Велосипе</p>
                                        <p>2шт.</p>
                                        <p class='order-price'>500,000 Р</p>
                                    </ul>
                                    <ul>
                                        <p>Гантеля</p>
                                        <p>25шт.</p>
                                        <p class='order-price'>500,000 Р</p>
                                    </ul>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
{%endblock%}